# Set NODE_ENV=production when deploying to production
NODE_ENV=development
DATABASE_MIGRATE=0

# Server configuration
PORT=3000
HOST=localhost
HOST_URL=http://localhost:3000
JWT_SECRET=superAwesomePasswordStringThatIsAtLeast32CharactersLong!


DB_HOST=54.144.101.217
DB_USER=admin
DB_PASS=123456
DB_NAME=jupiter_apparels
DB_PORT=3306